{{#partial "content"}}

        <div class="card" style="min-width: 550px; margin-bottom: 20px">
            <div class="card-body">
                <p class="card-text">
                    This weeks sightings
                </p>
            </div>
        </div>
        <div class="card sightings-card" style="max-width: 550px;">
            <div class="card-header">
                <p class="card-text">Name</p>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Endangered:</li>
                    <li class="list-group-item">Health:</li>
                    <li class="list-group-item">Age:</li>
                </ul>          </div>
            <div class="card-footer">
                <p class="card-text">Location:</p>
                <p class="card-text">Ranger Name:</p>
            </div>
        </div>

{{/partial}}

{{> layout.hbs}}